{% extends "/layout/main_layout.html" %}

{% block title %}
새 회의록 분석 - {{ super() }} 
{% endblock %}

{% block content %}
<div class="row g-4">
    <div class="col-lg-12">
        <div class="card shadow-sm border-primary">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">회의록 입력 </h4>
            </div>
            <div class="card-body">
                <p class="card-text">분석할 회의록 내용을 아래에 붙여넣고 '분석 시작' 버튼을 눌러주세요.</p>
                
                <form action="/meetings/create" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="title" name="title" />
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">회의록</label>
                        <textarea class="form-control" id="meetingMinutes" name="original_meeting" rows="15" placeholder="회의록 내용을 여기에 입력하세요..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg w-100">
                        분석 시작
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}